@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

[data-sonner-toaster] {
  --success-bg: theme("colors.green.300") !important;
  --success-text: theme("colors.green.900") !important;
  --success-border: theme("colors.green.500") !important;
}

body {
  position: relative;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("/pattern.png");
  opacity: 0.15;
  z-index: -1;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at top, #0000008a, transparent),
    radial-gradient(ellipse at 25% 25%, #4d4ae86a, transparent);
  opacity: 0.75;
  z-index: -1;
}

.bg-demo {
  background: radial-gradient(ellipse at top, #0000008a, transparent),
    radial-gradient(ellipse at 25% 25%, #ff00ff6a, transparent);
}

.bg-overlay {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.btn {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  border-radius: 0.5rem;
  box-shadow:
    rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.25rem 1rem;
  text-align: center;
  text-transform: none;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:focus:not(:focus-visible),
.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #3733e5;
  border-color: #3733e5;
}

.btn:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow:
    rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.btn:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.btn:active:focus {
  box-shadow:
    rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.btn:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}

.btn-secondary {
  background-color: #3a3b3c;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #3a3b3c;
}

.btn-secondary:hover {
  background-color: #2a2b2c;
  border-color: #2a2b2c;
}

.btn-secondary:focus {
  background-color: #2a2b2c;
  border-color: #2a2b2c;
  box-shadow:
    rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px,
    rgba(80, 80, 80, 0.5) 0 0 0 0.2rem;
}

.btn-secondary:active:focus {
  box-shadow:
    rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(60, 60, 60, 0.5) 0 0 0 0.2rem;
}

.lock-anim {
  width: 1.375rem;
  animation: lock 0.5s ease forwards;
  animation-delay: 1s;
}

.lock-open-anim {
  opacity: 0;
  animation: lock-open 0.5s ease forwards;
  animation-delay: 1s;
}

.lock-closed-anim {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  animation: lock-closed 0.75s ease forwards;
  animation-delay: 0.75s;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  background: radial-gradient(
    circle at 65% 15%,
    hsl(241, 77%, 90%) 1px,
    hsl(241, 77%, 85%) 3%,
    hsl(241, 77%, 55%) 60%,
    hsl(241, 95%, 10%) 100%
  );
}

.loader {
  width: 1rem;
  padding: 0.15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(168 162 158);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes lock-closed {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%) translateY(-50%) rotate(-12deg);
  }
}

@keyframes lock {
  0% {
    width: 1.375rem;
  }
  100% {
    width: 8.5rem;
  }
}

@keyframes lock-open {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
